html {

    --bg: #e1e1e2;
    --bg-menu: #ffffff;
    --color-primary: #666e78;
    --hover: #0079c0;
    --logo-pathprimary: #2A2D77;
    --logo-path-secondary: #E73953;

}

body{
    background: var(--bg);
    margin: 0;
    color: var(--color-primary);
    font-family: 'Mukta', sans-serif;
}

.container {
    background: var(--bg-menu);
    display: inline-block;
    height: 100vh;
    margin: 0;
    border-right: 2px solid #666e7859;
}

ul {
    border-top:  1px solid #666e7859;;
    list-style: none;
    padding-left: 1em;
}

.logo {
    margin: 3em;
    margin-bottom: 0;
    margin-top: 1em;
}

li {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    cursor: pointer;
}

li:hover {
    color: var(--hover);
}

#ul-help {
    border-bottom: 1px solid #666e7859;;
}

#dark-li {
    margin-left: 2em;
    margin-top: 1em;
    cursor: pointer;

}

path {
    fill: var(--color-primary);
}
path:hover {
    fill: var(--hover);
}

.icon {
    margin: 0 1rem 0 0.5rem;
}
 
.path-01 {
    fill: var(--logo-pathprimary)
}

#path-02 {
    fill: var(--logo-path-secondary)
}


/* TOOGLE */

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #666e78;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
}
  
input:checked + .slider { 
    background-color: black;
}
  
  
input:checked + .slider:before {
    transform: translateX(17px);
}

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}